src/main/java/live/easytrain/application/external/files/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="timetable" type="timetableType"/>
  <xs:complexType name="tlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="f" use="optional"/>
        <xs:attribute type="xs:string" name="t" use="optional"/>
        <xs:attribute type="xs:string" name="o" use="optional"/>
        <xs:attribute type="xs:string" name="c" use="optional"/>
        <xs:attribute type="xs:string" name="n" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="arType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pt" use="optional"/>
        <xs:attribute type="xs:string" name="pp" use="optional"/>
        <xs:attribute type="xs:string" name="hi" use="optional"/>
        <xs:attribute type="xs:string" name="ppth" use="optional"/>
        <xs:attribute type="xs:string" name="l" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dpType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pt" use="optional"/>
        <xs:attribute type="xs:string" name="pp" use="optional"/>
        <xs:attribute type="xs:string" name="ppth" use="optional"/>
        <xs:attribute type="xs:string" name="l" use="optional"/>
        <xs:attribute type="xs:string" name="hi" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sType">
    <xs:sequence>
      <xs:element type="tlType" name="tl"/>
      <xs:element type="arType" name="ar" minOccurs="0"/>
      <xs:element type="dpType" name="dp"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="timetableType">
    <xs:sequence>
      <xs:element type="sType" name="s" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="station"/>
  </xs:complexType>
</xs:schema>